pandas
numpy
matplotlib
wordcloud
networkx
nltk
scikit-learn
seaborn
langdetect
reportlab
pyspellchecker
textstat
gensim
spacy
dateparser
transformers
torch
beautifulsoup4
lxml
python-docx
pdfminer.six
openpyxl
python-pptx
textblob
language_tool_python
pyphen
docx2txt
